{% include 'incl/header.twig' %}

<body>

{% include 'incl/nav.twig' %}

<div class="projekt">
    {{ content }}
    {% for projekt in meta["Projekt"] %}
        <div class="projekt-container">
            <img src="{{ meta["Image"] }}?w=300" alt="Rättvisa">
            <h2>{{ projekt.name }}</h2>
            <div class="desc"><p>{{ projekt.desc }}</p></div>
            <p class="click">--click to read--</p>
        </div>
    {% endfor %}
</div>
{% include 'incl/footer.twig' %}
<script src="{{ theme_url }}/js/projekt.js"></script>
</body>
</html>